*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
html,body{
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    font-family: var(--text-font);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
}
.top-bar{
    width: 100%;
    padding: 12px 0px;
    border-bottom: 1px solid #576ac734;
}
.top-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left-bar span{
    font-family: var(--text-font);
}
.left-bar i,.left-bar span{
    color: var(--text-color);
    font-size: 13px;
    font-weight: 400;
}
.right-bar{
    display: flex;
    align-items: center;
    gap: 15px;
}
.right-bar span{
    color: var(--text-color);
    font-size: 13px;
    font-family: var(--text-font);
    font-weight: 400;
}
/*Header*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.logo span{
    font-size: 30px;
    letter-spacing: 1.5px;
    line-height: 33px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 700;
}
.logo img{
    width: 75px;
}
.nav{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav li{
    flex: 1;
    text-align: center;
    white-space: nowrap;
    position: relative;
}
.nav li a{
    font-size: 15px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
}
.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #442585, #5769C7);
  border-radius: 2px;
  opacity: 1;
  transition: all 0.3s ease;
} 
.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    opacity: 1;
}
/*DROPDOWN MENU*/
.dropdown {
    position: relative;
}
.dropdown:hover::after {
    width: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 150%; 
    left: 0;
    background: linear-gradient(90deg, #442585, #5769C7);
    opacity: 0.9;
    list-style: none;
    border-radius: 0 8px 8px 8px;
    min-width: 150px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.dropdown-menu li a {
    display: block;
    padding: 12px 6px;
    font-size: 12px;
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    text-align: left;
}
.dropdown-menu li{
    padding-left: 5px;
}
.dropdown-menu li:hover a {
    transform: translateX(5px);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/*FOOTER*/
footer{
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #11172b6e;
}
.footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-container > div, .footer-container > ul { 
    flex: 1;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 100%;
}
.top-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.footer-logo span{
    font-size: 40px;
    letter-spacing: 1.5px;
    line-height: 45px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 700;
}
.footer-social-media{
    display: flex;
    align-items: center;
    max-width: 60%;
    justify-content: space-between;
}
.footer-social-media i{
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #442585, #5769C7);
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    font-weight: 400;
}
.footer-social-media i:hover{
    box-shadow: 0 4px 16px #576ac734;
    transform: translateY(-2px);
}
.footer-title{
    font-size: 20px;
    color: var(--primary-color);
}
.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 75px;
    min-height: 350px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease-in-out;
}
.footer-links li a{
    display: flex;
    align-items: center;
    gap: 10px; 
    transition: all 0.3s ease-in-out;
    width: fit-content;
}
.footer-links li a:hover {
    transition: all 0.3s ease-in-out;
    transform: translateX(5px);
    opacity: 1;
}
.maps iframe{
    width: 80%;
    height: 100%;
}
.footer-links li a{
    color: var(--text-color);
    font-family: var(--text-font);
    opacity: 0.75;
    font-size: 13px;
}
.footer-links p{
    font-size: 13px;
    line-height: 1.5;
    color: var(--text-color);
    font-family: var(--text-font);
    opacity: 0.75;
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-links p a{
    display: block;
    width: fit-content;
    background: linear-gradient(360deg, #442585, #5769C7);
    padding: 5px;
    border-radius: 8px;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}
.footer-links p a:hover{
    box-shadow: 0 4px 16px #576ac734;
    transform: translateY(-2px);
}
.bottom-footer{
    width: 100%;
    padding: 20px;
    border-top: 1px solid #576ac734;
}
.bottom-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-footer-info{
    color: var(--text-color);
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
}
.bottom-footer-center{
    color: var(--text-color);
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    padding: 8px 13px;
    background-color: #11172b15;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    transition: 0.3s all ease-in-out; 
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.bottom-footer-center:hover{
     box-shadow: 0 4px 15px var(--secondary-color);
     backdrop-filter: blur(20px);
}
.bottom-footer-center i,.bottom-footer-center span strong{
    color: var(--secondary-color);
}
.bottom-footer-center:hover i{
    transform: rotate(15deg);
    transition: 0.3s all ease-in-out;
}
.bottom-footer-links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bottom-footer-links li a {
    color: var(--text-color);
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
}
.bottom-footer-links li a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
    text-underline-offset: 5px;  
}
/*OTHER PAGES HEROS*/
.about-hero {
    width: 100%;
    min-height: 250px;
    position: relative;
    overflow: hidden;
}
.about-hero:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    filter: blur(50px);
    z-index: 1;
}
.about-hero img {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 180%;
    will-change: transform;
}
.other-content{
    position: relative; 
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    gap: 15px;
}
.other-content h1{
    font-size: 68px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 800;
    line-height: 80px;
    width: fit-content;
    will-change: transform;
}
.other-content p{
    font-size: 16px;
    color: var(--text-color);
    opacity: 0.75;
    font-family: var(--text-font);
    font-weight: 400;
    line-height: 25px;
    max-width: 450px;
    will-change: transform;
}