@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("main.css");

:root{
    --background-color:#0C101D;
    --primary-color:#432585;
    --secondary-color:#5769C7;
    --text-color:#ffffff;
    --text-font:"Inter",sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}