/*HERO CONTENT*/
.hero-content{
    width: 50%;
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.hero-content h1{
    font-size: 68px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 800;
    line-height: 80px;
    width: fit-content;
}
.hero-content .hero-message{
    background: linear-gradient(180deg, #442585, #5769C7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0px 27px rgba(123, 92, 255, 0.25);
}
.hero-content p{
    font-size: 16px;
    color: var(--text-color);
    opacity: 0.75;
    font-family: var(--text-font);
    font-weight: 400;
    line-height: 35px;
    max-width: 450px;
}
.hero-content p span{
    font-weight: 700;
    color: var(--secondary-color);
}
.hero-btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-btns a button{
    padding: 12px 24px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text-font);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px #4325853f;
}
.hero-btns a button:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 12px #432585;
}
.hero-btns a .secondary-btn{
    background-color: transparent;
    border: 2px solid var(--primary-color);
}
.hero-btns a .secondary-btn:hover{
    background-color: var(--primary-color);
}
.hero-btns a button:hover{
   background-color: transparent;
    border: 2px solid var(--primary-color);
}
/*USERS , MEMBERS*/
.members{
    display: flex;
    align-items: center;
}
.members .profile{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    overflow: hidden;
}
.members .profile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.members .profile + .profile{
    margin-left: -20px;
}
.members p{
    font-size: 24px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 700;
    margin-left: 10px;
    line-height: 20px;
}
.members p span{
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
}
/*SERVICES*/
.services{
    width: 100%;
    min-height: 100vh;   
    padding: 120px 0; 
}
.services-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.services-content label{
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}
.services-content h2 {
  font-size: 44px;
  line-height: 1.2;
  color: var(--primary-color);
  font-family: var(--text-font);
}
.services-content p{
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;
}
.services-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 120px;
}
.card{
    flex: 1;
    min-height: 350px;
    border: 2px solid #576ac734;
    border-radius: 8px;
    padding: 55px 25px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.card-light{
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}
.card-light:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
    filter: blur(75px);
    z-index: -2;
}
.first-card:after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 50%;
    height: 50%;
    background-image: url("../../img/running\,.png");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}
.second-card:after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 50%;
    height: 50%;
    background-image: url("../../img/power.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}
.third-card:after{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 50%;
    height: 40%;
    background-image: url("../../img/pilates-outline.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}
.fourth-card:after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 50%;
    height: 50%;
    background-image: url("../../img/fonksiyonel-outline.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}
.card:hover{
    box-shadow: 0 4px 12px #576ac734;
}
.card:hover .card-icon{
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 4px 12px #576ac734;
    transition: all 0.3s ease-in-out;
}
.card-icon{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #442585, #5769C7);
    transition: transform 0.3s ease-in-out;
}
.card-icon i{
    font-size: 25px;
    color: var(--text-color);
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.card-content h3{
    font-size: 25px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 700;
    text-align: center;
    min-height: 62px;
    line-height: 1.3;
}
.card-content p{
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.75;
    font-family: var(--text-font);
    font-weight: 400;
    line-height: 30px;
    min-height: 120px;
}
.card-content a .card-btn{
    padding: 8px 18px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text-font);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px #4325853f;
}
.card-content a .card-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 12px #432585;
}
/*ABOUT SECTION*/
.about{
    min-height: 100vh;   
    display: flex;
    gap: 100px;
    padding-top: 120px;
}
.about .about-img{
    width: 50%;
    height: 600px;
    position: relative;
}
.about-img:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: var(--primary-color);
    filter: blur(75px);
    opacity: 0.3;
}
.about .about-img img:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.about .about-img .first-img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
}
.second-img{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
    z-index: 0;
}
.third-img{
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
}
.about-content{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-content label{
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}
.about-content h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--primary-color);
  font-family: var(--text-font);
}
.about-content p{
    font-size: 16px;
    line-height: 35px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;;
}
.content-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-details .content-grid{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.content-grid span{
    font-family: var(--text-font);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: var(--secondary-color);
}
.content-grid p{
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
}
.about-content a button{
    padding: 12px 24px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text-font);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px #4325853f;
}
.about-content a button:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 12px #432585;
}
/*EĞİTMENLERİMİZ*/
.pt-container{
    width: 100%;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pt{
    width: 100%;
    min-height: 100vh;   
    padding: 120px 0; 
}
.pt-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.pt-title label{
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}
.pt-title h2 {
  font-size: 44px;
  line-height: 1.2;
  color: var(--primary-color);
  font-family: var(--text-font);
}
.pt-title p{
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;
}
.pt-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 120px;
}
.pt-card{
    display: flex;
    flex-direction: column;
    gap: 50px;  
    flex: 1;
}
.pt-image{
    min-height: 350px;
    clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0% 25%);
    background-color: #11172b15;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}
.pt-image::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
    filter: blur(75px);
    z-index: -2;
}
.first-image{
    background-image: url("../../img/pt1.png");
    background-size: cover;
}
.second-image{
    background-image: url("../../img/pt2.png");
    background-size: cover;
}
.third-image{
    background-image: url("../../img/pt3.png");
    background-size: cover;
}
.last-image{
    background-image: url("../../img/pt4.png");
    background-size: cover;
}
.pt-content-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pt-content{
    text-align: center;
}
.pt-content h3{
    font-size: 25px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 700;
    line-height: 1.3;
}
.pt-content span{
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.75;
    font-family: var(--text-font);
    font-weight: 400;
    line-height: 30px;
}
.pt-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.pt-social-media i{
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #442585, #5769C7);
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    font-weight: 400;
}
.pt-social-media i:hover{
    box-shadow: 0 4px 16px #576ac734;
    transform: translateY(-2px);
}

/*CLASSES*/
.classes{
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider {
  display: flex;
  gap: 60px;
}
.slider-content {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}
.slider-titles{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 95%;
}
.slider-titles label{
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}
.slider-content h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--primary-color);
  font-family: var(--text-font);
}

.slider-content p {
    font-size: 16px;
    line-height: 35px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;;
}
.slide-details{
    list-style:disc;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slide-details li{
    color: var(--text-color);
    font-family: var(--text-font);
    opacity: 0.75;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
}
.slide-details li::marker {
  color: var(--primary-color); 
}

.slider-image {
  width: 50%;
  min-height: 450px;
  position: relative;
}
.slider-image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    filter: blur(75px);
    opacity: 0.3;
}

.slider-image img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.slider-controls {
  display: flex;
  gap: 12px;
}

.slider-controls button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #442585, #5769C7);
    transition: all 0.3s ease-in-out;
}
.slider-controls button i{
    font-size: 13px;    
    color: var(--text-color);
}
.slider-controls button:hover{
    box-shadow: 0 4px 16px #576ac734;
}
.slider-controls #prev:hover{
    transform: translateX(-2px);
}
.slider-controls #next:hover{
    transform: translateX(2px);
}
/*TESTİMONİALS*/
.testimonials{
    width: 100%;
    min-height: 100vh;   
    padding: 120px 0; 
}
.testi-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.testi-title label{
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}
.testi-title h2 {
  font-size: 44px;
  line-height: 1.2;
  color: var(--primary-color);
  font-family: var(--text-font);
}
/*TESTİ SLİDER*/
.testimonials-content{
    padding: 100px 0;
    position: relative;
}
.testimonials-item{
    min-height: 350px;
    padding: 20px;
}
.testi-item-details{
    min-height: 325px;
    max-width: 90%;
    margin: auto;
    box-shadow: 0 4px 12px var(--primary-color);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 8px;
}
.testi-item-details p{
    max-width: 90%;
    min-height: 200px;
    padding-top: 25px;
    margin: auto;
    font-size: 16px;
    line-height: 35px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;;
}
.testi-item-details:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
    filter: blur(75px);
    opacity: 0.5;
    z-index: -2;    
}
.testi-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    max-width: 90%;
}
.swiper-wrapper{
    align-items: center;
}
.testi-profile img{
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #442585, #5769C7);
    object-fit: cover;
    border-radius: 50%;
}
.testi-profile span{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 500;
    line-height: 1.3;
}
.js-testimonials-pagination .swiper-pagination-bullet { 
    padding: 6px;
    background-color: var(--secondary-color); 
    opacity: 0.3;
    position: relative;
    bottom: 0px !important;
} 
.js-testimonials-pagination .swiper-pagination-bullet-active {
     background-color: var(--secondary-color);
     opacity: 1;
}
.swiper-button-prev.js-testimonials-prev,
.swiper-button-next.js-testimonials-next {
    width: 30px !important;
    height: 30px !important;
    color: var(--secondary-color);
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
/*CONTACT*/
.contact{
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 100%;
    min-height: 500px;
    background-image: url(../../img/contact-cta.png);
    border-radius: 8px;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 16px #576ac734;
}
.contact-content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    right: 0;
    top: 0;
}
.contact-content .contact-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-content h3{
    font-size: 40px;
    color: var(--primary-color);
    font-family: var(--text-font);
    font-weight: 700;
    width: fit-content;
}
.contact-content p{
    font-size: 16px;
    line-height: 35px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;;
}
.contact-content a button{
    padding: 12px 24px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text-font);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px #4325853f;
}
.contact-content a button:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 12px #432585;
}