/*ABOUT İNTRO*/
.about-intro{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    gap: 100px;
}
.intro-img{
    max-width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.intro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
}
.intro-img img:hover{
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}
.intro-img:before{
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #11172b15;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
     box-shadow: 0 4px 16px #576ac734;
}
.intro-content{
    max-width: 40%;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.intro-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.intro-content label{
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}
.intro-content h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--primary-color);
  font-family: var(--text-font);
}
.intro-content p{
    font-size: 16px;
    line-height: 35px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;;
}
.intro-content ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: disc;
    padding-left: 20px;
}
.intro-content ul li{
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.75;
}
.intro-content ul li::marker {
  color: var(--primary-color); 
}
.intro-second-img{
    width: 50%;
    height: 400px;
    position: relative;
    z-index: 1;
}
.intro-second-img::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    filter: blur(75px);
    opacity: 0.3;
    z-index: -1;
}
.intro-second-img img{
    object-fit: cover;
    border-radius: 8px; 
}
.intro-second-img .intro-first-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}
.intro-second-img .intro-second-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    height: 70%;
}
.intro-second-img .intro-first-img:hover{
    z-index: 999;
    transition: 0.3s;
    transform: scale(1.01);
}
.intro-second-img .intro-second-img:hover{
    z-index: 999;
    transition: 0.3s;
    transform: scale(1.01);
}
.intro-content a button{
    padding: 12px 24px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--text-font);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px #432585be;
}
.intro-content a button:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 12px #432585;
}
/*ABOUT SERVİCES*/
.services{
    width: 100%;
    min-height: 100vh;   
    padding: 120px 0; 
}
.services-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.services-content label{
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}
.services-content h2 {
  font-size: 44px;
  line-height: 1.2;
  color: var(--primary-color);
  font-family: var(--text-font);
}
.services-content p{
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;
}
.services-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 120px;
}
.card{
    flex: 1;
    min-height: 300px;
    max-height: 300px;
    border: 2px solid #576ac734;
    border-radius: 8px;
    padding: 40px 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.card-light{
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}
.card-light:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
    filter: blur(75px);
    z-index: -2;
}
.card:hover{
    box-shadow: 0 4px 12px #576ac734;
}
.card:hover .card-icon{
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 4px 12px #576ac734;
    transition: all 0.3s ease-in-out;
}
.card-icon{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(360deg, #442585, #5769C7);
    transition: transform 0.3s ease-in-out;
}
.card-icon i{
    font-size: 25px;
    color: var(--text-color);
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-content h3{
    font-size: 20px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 700;
    text-align: center;
    min-height: 62px;
    line-height: 1.3;
}
.card-content p{
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.75;
    font-family: var(--text-font);
    font-weight: 400;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* kaç satır gözüksün */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
