.memberships-container{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;   
}
.memberships-title{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 100px;
    padding-bottom: 100px;
}
.memberships-title a {
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    padding: 16px 8px;
    max-width: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid var(--secondary-color);
}
.memberships-title a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: var(--primary-color);
    filter: blur(20px);
    z-index: -1;
}
.memberships-title a:hover{
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}
.memberships-content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.reformer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.reformer-title{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.memberships-title a.active {
    background-color: var(--primary-color); 
}
.reformer, .fonk-antrenman, .personal-traning {
    scroll-margin-top: 50px;
}
.reformer-title h2{
    font-size: 44px;
    line-height: 1.2;
    color: var(--primary-color);
    font-family: var(--text-font);
}
.reformer-title span{
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 600;
    opacity: 0.75;
}
.memberships-content p{
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 300;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.reformer ul{
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.reformer ul li{
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.75;
}
.reformer ul li::marker {
  color: var(--primary-color); 
}
.fonk-antrenman{
    width: 100%;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.fonk-antrenman h2{
    font-size: 44px;
    line-height: 1.2;
    color: var(--primary-color);
    font-family: var(--text-font);
}
.personal-traning{
    width: 100%;
    min-height: 50vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.pt-title{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.pt-title h2{
    font-size: 44px;
    line-height: 1;
    color: var(--primary-color);
    font-family: var(--text-font);
}
.pt-title span{
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 600;
    opacity: 0.75;
    font-style: italic;
}
.personal-traning strong{
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 600;
    opacity: 0.75;
}
.personal-traning ul{
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.personal-traning ul li{
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 14px;
    color: var(--text-color);
    opacity: 0.75;
}
.personal-traning ul li::marker {
  color: var(--primary-color); 
}
.pt-questions{
    width: 100%;
    min-height: 50vh;
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 100px;
}
.pt-questions h2{
    font-size: 28px;
    line-height: 1;
    color: var(--primary-color);
    font-family: var(--text-font);
}
.faq{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.left-faq{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-faq{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq button{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    opacity: 0.75;
    box-shadow: 0 4px 12px #576ac734;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.faq button::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
    filter: blur(20px);
    z-index: -1;
}
.faq-answer {
    width: 90%;
    max-height: 0;
    background-color: #11172b15;
    overflow: hidden;
    transition: all 0.3s ease; 
    position: relative;
    border-radius: 0 0 8px 8px;
}
.faq-answer::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:30px;
    background-color: var(--primary-color);
    filter: blur(20px);
    opacity: 0.3;
    z-index: -1;
}
.faq-answer p{
    font-size: 14px;
    line-height: 1.6;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 300;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}
.diff-answer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-answer.active {
    max-height: 500px;
    padding: 20px;
}
.faq-question.active i {
    transform: rotate(180deg);
}

.faq-question i {
    transition: transform 0.3s;
}
